nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5% 0 5%;
  flex-wrap: wrap;
}
.navigation {
  text-decoration: none;
  margin-left: 120px;
  color: #137547;
  font-size: 20px;
}
h1 {
  color: #137547;
}
